<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정글 워들</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <link href="/static/css/reset.css" rel="stylesheet" />
    <style>
      .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
      }
      .header {
        height: 60px;
        background-color: aquamarine;
        width: auto;
      }
      .main_wrapper {
        display: flex;
        height: 700px;
        /* width: auto; */
        background-color: rebeccapurple;
      }
      .ranking {
        flex-grow: 1;
        background-color: red;
      }
      .game {
        padding: 2rem;
        flex-grow: 3;
        background-color: white;
        box-sizing: border-box;
        text-align: center;
      }
      .game_header {
        margin-bottom: 20px;
      }
      .game_input {
        width: 50px;
        height: 50px;
        font-size: 25px;
        font-weight: 600;
        border: 2px solid rgba(59, 130, 246, 0.5);
        border-radius: 5px;
        text-align: center;
      }
      .input_wrapper {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
  <div class="wrapper">
      <header class="header">정글 워들</header>
      <div class="main_wrapper">
        <div class="ranking" id="ranking">
            <h2>랭킹 시스템<h2>
                {% for rank in ranking %}
                    <li>{{ rank.id }}  {{ rank.cnt_success }} {{ rank.cnt_fail }} </li>
                {% endfor %}
                        {{ answers }}
        </div>
        <div class="game">
          <h2 class="game_header">이름을 맞추세요!!</h2>
          <p class="input_wrapper input_wrapper0">
            <input type="text" class="game_input" maxlength="1" />
            <input type="text" class="game_input" maxlength="1" />
            <input type="text" class="game_input" maxlength="1" />
            <input type="text" class="game_input" maxlength="1" />
            <input type="text" class="game_input" maxlength="1" />
            <input type="text" class="game_input" maxlength="1" />
            <input type="text" class="game_input" maxlength="1" />
          </p>
          <p class="input_wrapper">
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <button class="game_button">제출</button>
          </p>
          <p class="input_wrapper">
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <button class="game_button">제출</button>
          </p>
          <p class="input_wrapper">
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <button class="game_button">제출</button>
          </p>
          <p class="input_wrapper">
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <input type="text" class="game_input" />
            <button class="game_button">제출</button>
          </p>
        </div>
        <script>
          var replaceAt = function (input, index, character) {
            return (
              input.substr(0, index) +
              character +
              input.substr(index + character.length)
            );
          };
          let answer = "ㅇㅜㅓㄴㅇㅕㅇ";

          document
            .querySelector(".input_wrapper0")
            .addEventListener("keypress", (e) => {
              if (e.key == "Enter") {
                let user_input = document.querySelectorAll(".game_input");
                let temp_answer = answer.split("");
                // 게임 로직
                for (let i = 0; i < answer.length; i++) {
                  if (user_input[i].value === temp_answer[i]) {
                    temp_answer[i] = "";
                    user_input[i].style.backgroundColor = "#22C55E";
                    user_input[i].style.color = "white";
                  } else if (temp_answer.includes(user_input[i].value)) {
                    temp_answer[temp_answer.indexOf(user_input[i].value)] = "";
                    user_input[i].style.backgroundColor = "#EAB308";
                    user_input[i].style.color = "white";
                  } else {
                    user_input[i].style.backgroundColor = "#94A3B8";
                    user_input[i].style.color = "white";
                  }
                  user_input[i].readOnly = true;
                  console.log(temp_answer);
                }
              }
            });
        </script>
      </div>
    </div>
  </body>
</html>
